NEXT_PUBLIC_SUPABASE_URL=https://kcklyxowabjvqbcspcrs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtja2x5eG93YWJqdnFiY3NwY3JzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxOTU3ODIsImV4cCI6MjA4ODc3MTc4Mn0.IBJnPokv1LMQYwhZ1cV2-jc2HBF7a5qGHk9k2wnMPU0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtja2x5eG93YWJqdnFiY3NwY3JzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE5NTc4MiwiZXhwIjoyMDg4NzcxNzgyfQ.EC1LKnsOGICXFJ6SlgjCOQQcobWotduDYQ8LgRwjR2M

PROFIXIQ_SUPABASE_URL=https://scjjkmuwadwkaaqjoigx.supabase.co
PROFIXIQ_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjamprbXV3YWR3a2FhcWpvaWd4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTY3MDQyMiwiZXhwIjoyMDY1MjQ2NDIyfQ.2e-JRQnT6zHCVGPkG7WlI1c8v3RLkuZlaSmSQXPjW2s

PROFIXIQ_API_BASE_URL=https://app.profixiq.com
PROFIXIQ_SIGNING_SECRET=fca50372c973f83262a3281cc33268bd0d179454aad2d3e73963f4b30591cbdd
PULSE_WEBHOOK_SECRET=b422222a0ae74686fb07bb3e94df45863d6d84f6dee7c1bf48e5b2481e0b62b0